body {
    margin: 0%;
}

.navigation-menu {
    background-color: darkred;
    padding: 1%;
    position: relative;
    text-align: center;
    top: 0;
}

.navigation-menu a {
    color: white;
    font-size: 25px;
    padding: 1% 2%;
    transition: 0.25s;
    text-decoration: none;
}

.navigation-menu a:hover {
    background-color: rgb(186, 26, 26);
}