body {
    margin: 0%;
}

.navigation-menu {
    background-color: darkred;
    display: block;
    position: relative;
    text-align: center;
    top: 0;
}

.navigation-menu a {
    color: white;
    font-size: 2.5vh;
    padding: 1% 2%;
    transition: 0.25s;
    text-decoration: none;
}

.navigation-menu a:hover {
    background-color: rgb(186, 26, 26);
}

.dropdown {
    display: inline-block;
    padding: 1% 2%;
    position: relative;

}

.dropdown:hover{
    background-color: rgb(186, 26, 26);
}

.dropdown:hover .drop-menu {
    color: white;
    display: block !important;
    padding: 10% 15% !important;
    position: absolute;
    top: 80%;
    left: 0 !important;
    background-color: darkblue !important;
}

.drop-menu {
    display: none;
}

.drop-menu a{
    padding: 10% 0%;
}

.drop-menu a:hover{
    padding: 10% 0%;
    background-color: rgb(42, 42, 207);

}

.header {
    padding: 10% 0%;
    margin: auto;
    text-align: center;
}

div {
    margin: auto;
    text-align: center;
}

.text h1{
    font-size: 100px;
}

.text {
    width: 80%;
    font-size: 30px;
    text-align: center;
}

.welcome {
    background-color: orange;
    margin: auto;
    display:flow-root;
    text-align: center;
}
.contacttext {
    text-align: center;
    float: middle;
    font-size: 22px;
    width: 50%;
    padding-top: 30px;
}

.form-control {
    width: 600px;
    background: transparent;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    margin-bottom: 16px;
    color: #000000;
}
.contact-title, .contact-form {
    text-align: center;
    width: 800px;
    padding-top: 0px;
    background-color: rgb(70, 167, 184);
}
.contactind {
    text-align: left;
    font-size: 20px;
}
.form {
    width: 80%;
    position: relative;
    right: 50px;
}
.form-control-submit {
    background-color: rgb(238, 81, 81);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}